{% requireLogin %}
{% extends "_layouts/default" %}
{% includeJsFile "/dist/js/user-address-form.bundle.js" %}
{% includeCssFile "/dist/css/user-address-form.bundle.css" %}
{% set addressId = craft.app.request.param('addressId') %}
{% set address = craft.commerce.customers.customer.getAddressById(addressId) %}
{% set countries = craft.commerce.countries.allCountriesAsList %}

{% set addressData %}
    window.csrfTokenValue = "{{ craft.app.request.csrfToken }}";
    window.addressData = {
        addressId: {{addressId}},
        firstName: "{{address.firstName}}",
        lastName: "{{address.lastName}}",
        address1: "{{address.address1}}",
        address2: "{{address.address2}}",
        city: "{{address.city}}",
        zipCode: "{{address.zipCode}}",
        phone: "{{address.phone}}",
        countryId: 198,
        countries: [ {% for key, option in countries %} { value: {{key}}, label: "{{option}}" },{% endfor %} ]
    };
{% endset %}
{% includeJs addressData first %}

{% block main %}
<div id="userAddressForm"></div>
{% endblock %}